<div class="container">
    <div class="row">
        <div id="login-form" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h1 class="login-title">Let's get to work!</h1>
            <form name="loginForm" ng-submit="submitForm()" novalidate>
                <h5>DON’T HAVE AN ACCOUNT,<a href="#!step1" class="signup"> SIGNUP TODAY!</a></h5>
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                    <input required type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email">
                    <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>

                <!-- PASSWORD -->
                <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <input required placeholder="Password" type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="20">
                    <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
                    <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                </div>

                <a name="login" id="submitLogin" type="submit" class="btn btn-login" ng-disabled="loginForm.$invalid">Login now!</a>
                <p>* Don’t worry we don’t share your personal info with anyone. <span>Forget your password?</span></p>
            </form>
        </div>
    </div>
</div>
<div class="phone-side-img">
    <img src="img/assets/phone-lie.png" alt=""/>
</div>