aside {
  position: absolute;
  top: 70px;
  left: 0;
  width: 130px;
  .side-menu {
    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;
      margin: 0;
      li {
        border-bottom: solid 1px #eeeeee;
        border-right: solid 1px #eeeeee;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        cursor: pointer;
        img {
          margin-top: 10%;
        }
        p {
          color: #D1D3D4;
          font-weight: bold;
          margin: 10% 0;
        }
      }
      li.active {
        border-right: none;
      }
    }
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex!important;
  .logo-wrapper {
    img {
      width: 130px;
      min-height: 70px;
    }
  }
  .header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #eeeeee;
    width: calc(~"100% - 130px");
    .header-left-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 69px;
      h1 {
        color: #4a4a4a;
        font-weight: 300;
        font-size: 2.5em;
        margin: 0 15px;
      }
      img {
        width: 45px;
        margin: 0 15px;
      }
      p {
        margin: 0;
        font-size: 1.75em;
        color: #bebebe;
        font-weight: 100;
      }
    }
    .header-user-block {
      height: 69px;
      min-width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      a {
        color: #bebebe;
        text-decoration: none;
        margin: 0 10px;
        span {
          font-size: 12px;
        }
      }
    }
  }
}
.admin-main-wrapper {
  height: 1500px;
  background-color: lightgray;
  margin: 100px auto;
  max-width: 780px;
}