#freebies-wrapper {
  h1.freebies-title {
    font-size: 45px;
    font-weight: 100;
    color: #444444;
    text-align: center;
    margin-bottom: 5%;
  }
  h2.freebies-congrats {
    font-size: 25px;
    font-weight: 100;
    color: #4a4a4a;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .freebies-table {
    .freebies {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 25px 0;
      border-bottom: 1px solid #eeeeee;
      margin-top: 2.5%;
      .freebiesImg {
        width: 95px;
        height: 95px;
        display: flex;
        img {
          margin: auto;
        }
      }
      .freebiesDescription {
        margin: 0 auto 0 25px;
        p.top-p {
          font-size: 20px;
          font-weight: 100;
          color: #979797;
          margin: 0;
        }
        p.bot-p {
          font-size: 16px;
          font-weight: normal;
          color: #58b9de;
        }
      }
      .freebiesShare {
        button {
          height: 55px;
          border-radius: 2px;
          background-color: #58b9de;
          color: #fff;
          font-weight: 100;
          width: 185px;
          font-size: 22px;
        }
      }
      .freebies-sharing {
        width: 100%;
        h2 {
          font-size: 26px;
          font-weight: 100;
          color: #4a4a4a;
          margin: 2.5% 0;
        }
        .billing-address {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2.5%;
          input {
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #eeeeee;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.4;
            letter-spacing: 0.5px;
            color: #bebebe;
            box-shadow: none;
            height: 55px;
            padding-left: 2.5%;
          }
          input.street {
            width: 47.5%;
            margin-bottom: 2.5%;
          }
          input.apt {
            width: 47.5%;
            margin-bottom: 2.5%;
          }
          input.city {
            width: 31%;
          }
          input.region {
            width: 31%;
          }
          .country {
            width: 31%;
            display: inline-block;
            height: 55px;
            color: #bebebe;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #eeeeee;
            line-height: 2;
          }
        }
        input.address {
          height: 55px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #eeeeee;
          width: 100%;
          margin: 0 0 2.5% 0;
          padding-left: 2.5%;
        }
        label {
          font-size: 15px;
          font-weight: normal;
          color: #444444;
          margin-left: 10px;
        }
        .selections {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 5%;
          select.select {
            height: 55px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #eeeeee;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.4;
            letter-spacing: 0.5px;
            color: #bebebe;
            width: 32%;
            outline: none;
            padding-left: 2.5%;
          }
        }
        button.confirm-business {
          height: 55px;
          background-color: #bebebe;
          color: #fff;
          font-size: 18px;
          font-weight: 100;
          width: 100%;
          border: none;
          outline: none;
        }
      }
    }
    .freebies.email {
      .invites {
        width: 100%;
        input.email-input {
          height: 55px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #eeeeee;
          font-size: 15px;
          font-weight: normal;
          line-height: 1.4;
          letter-spacing: 0.5px;
          color: #bebebe;
          width: 100%;
          margin: 2.5% 0;
          padding-left: 2.5%;
        }
        button.send-invites {
          height: 55px;
          background-color: #bebebe;
          color: #fff;
          font-size: 18px;
          font-weight: 100;
          width: 100%;
          box-shadow: none;
          border: none;
          outline: none;
        }
      }
    }
  }
  button.finish-registration {
    width: 100%;
    height: 55px;
    background-color: #58b9de;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 7.5%;
  }
}