#login-form {
  text-align: center;
  h1.login-title {
    margin: 10% 0 5% 0;
    font-weight: 100;
    font-size: 3em;
  }
  form {
    background-color: #fbfbfb;
    padding: 5% 5%;
    h5 {
      font-weight: bold;
      margin: 2.5% 0 5% 0;
      a.signup {
        color: #808080;
        text-decoration: none;
      }
    }
    .form-group {
      input {
        border-radius: 0;
        color: #000;
        border: solid 1px #eeeeee;
        padding: 5% 12px;
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .btn-login {
      background-color: #58b9de;
      color: #fff;
      border-radius: 0;
      width: 100%;
      line-height: 250%;
    }
    .btn-login[disabled] {
      background-color: #bebebe;
    }
    p {
      font-size: 12px;
      color: #808080;
      margin: 5% 0 0 0;
      span {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
.phone-side-img {
  margin-top: 5%;
}