form.account-form {
  h2 {
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    color: #444444;
    margin: 5% auto;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    input {
      border: solid 1px #eeeeee;
      background: #fff;
      border-radius: 2px;
      color: #bebebe;
      line-height: 1.4;
      letter-spacing: 0.5px;
      margin: 0 1.5%;
      box-shadow: none;
      &:focus {
        border: solid 1px #58b9de;
        box-shadow: none;
      }
    }
    input[placeholder], [placeholder], *[placeholder] {
      padding: 2.5% 12px;
    }
    .ui.fluid.dropdown {
      width: 95%;
      margin: 0 1.5%;
      line-height: 2.5;
      .dropdown.icon {
        float: none;
        display: block;
        margin: auto;
        right: .5em;
        line-height: 2;
      }
    }
  }
  .summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7.5%;
    .summary-wrapper {
      width: 47.5%;
      h3 {
        font-size: 22px;
        font-weight: 100;
        color: #444444;
      }
      .count-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.44;
        color: #808080;
        .amount {
          p {
            text-align: right;
          }
        }
      }
      .total-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.44;
        color: #4a4a4a;
      }
    }
    .card-payment {
      width: 47.5%;
      .card-group {
        .form-group {
          input {
            border: solid 1px #eeeeee;
            background: #fff;
            border-radius: 2px;
            color: #bebebe;
            line-height: 1.4;
            letter-spacing: 0.5px;
            box-shadow: none;
            height: 55px;
            &:focus {
              border: solid 1px #58b9de;
              box-shadow: none;
            }
          }
          a.btn {
            background-color: #bebebe;
            border-radius: 2px;
            font-size: 18px;
            font-weight: 100;
            color: #ffffff;
            height: 55px;
            width: 185px;
            line-height: 2;
          }
        }
      }
    }
  }
}