#steps {
  margin-top: 2.5%;
  ul.nav {
    margin: 0 auto;
    max-width: 513px;
    display: block;
    li {
      padding-right: 80px;
      background: url('../img/icons/points.png');
      background-repeat: no-repeat;
      background-position-x: 66px;
      background-position-y: 21px;
      margin-right: 19px;
      display: inline-block;
      span {
        width:130px;
        text-align:center;
        font-size:19px;
        font-weight:100;
        position:absolute;
        opacity:0.6;
        margin-left:-40px;
        padding-top:5px;
      }
      a {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        border: 2px solid;
        background-color: #fff;
        font-size:24px;
        font-weight:100;
        color: #888;
        text-align: center;
        line-height: 1.75;
        &:focus {
          color: #888;
        }
      }
    }
    li.active {
      background: url('../img/icons/active_points.png');
      background-repeat: no-repeat;
      background-position-x: 66px;
      background-position-y: 21px;
      span {
        color:#58b8de;
      }
      a {
        color: #58b8de;
        border: 2px solid #58b8de;
        &:focus {
          color: #58b8de;
          border: 2px solid #58b8de;
        }
      }
    }
    li.first {
      background-position-x: 146px;
      padding-left: 80px;
    }
    li.last {
      background: none;
      padding-right: 0;
      margin: 0;
    }
  }
  h1 {
    text-align: center;
    margin-top: 7.5%;
    margin-bottom: 5%;
  }
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .searchOptions {
    margin: auto 0 auto auto;
    form {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: auto;
      .selection.dropdown {
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        height: 55px;
        margin-bottom: 5%;
        font-size: 15px;
        padding-left: 2.5%;
        line-height: 2;
        .dropdown.icon {
          float: none;
          display: block;
          margin: auto;
          right: .5em;
          padding-right: 0;
        }
        .default.text {
          color: #888888;
        }
      }
      select.searchBy {
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        height: 55px;
        margin-bottom: 5%;
        font-size: 15px;
        padding-left: 2.5%;
        color: #888888;
      }
      input.search {
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        height: 55px;
        margin-bottom: 5%;
        font-size: 15px;
        padding-left: 2.5%;
      }
      button {
        border-radius: 2px;
        background-color: #bebebe;
        border: none;
        height: 55px;
        outline: none;
        color: #fff;
      }

    }
  }
  .phone-img {
    margin: 0 auto 0 1.5%;
    width: 50%;
    position: relative;
    img {
      //display: none;
      position: absolute;
      left: 20%;
    }
    .searchResults {
      display: none;
      position: relative;
      height: 100%;
      p {
        display: none;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        color: #808080;

      }
      .results-blocks {
        display: flex;
        flex-flow: row wrap;
        a.results-number {
          font-size: 15px;
          font-weight: 100;
          line-height: 2.5;
          letter-spacing: 0.5px;
          text-align: center;
          color: #d8d8d8;
          height: 55px;
          border-radius: 2px;
          background-color: #ffffff;
          border: dashed 1px #eeeeee;
          width: 250px;
          margin: 0 auto 2.5% auto;
        }
      }
      .control-btns {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        button {
          font-size: 15px;
          font-weight: 100;
          line-height: 1.4;
          letter-spacing: 0.5px;
          text-align: center;
          color: #d8d8d8;
          height: 55px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #eeeeee;
          width: 250px;
          margin: auto;
        }
      }
    }
  }
}
.bot-sign {
  margin: 5% 0;
  p {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #808080;
  }
  p.choosenNumber {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #58b9de;
    display: none;
  }
}
.submit-block {
  button.submitbt {
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    width: 100%;
    max-width: 780px;
    display: block;
    margin: 0 auto;
    color: rgba(180,180,180,1);
    height: 55px;
  }
}
