#plan-switcher {
  margin-top: 2.5%;
  a {
    width: 50%;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    color: #808080;
    line-height: 2;
    &.active {
      background-color: #58b9de;
      color: #ffffff;
      box-shadow: none;
    }
  }

}
#plans-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eeeeee;
    padding: 2.5%;
    &:hover {
      border: 1px solid #bebebe;
      cursor: pointer;
    }
    .starter {
      color: #222222;
      font-size: 1em;
    }
    h2 {
      color: #58b9de;
      font-size: 4em;
      margin: 10px 0;
      font-weight: bold;
    }
    sup {
      color: #58b9de;
      font-size: 20px;
      top: -1.25em;
      font-weight: 100;
    }
    sub {
      color: #58b9de;
      font-size: 20px;
      font-weight: 100;
    }
    p {
      color: #222222;
      font-size: 18px;
      font-weight: bold;
    }
    div.p {
      p {
        line-height: 1.53;
        letter-spacing: 0.4px;
        text-align: center;
        color: #888888;
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}
.extra-features {
  h1 {
    text-align: center;
    margin-top: 7.5%;
    margin-bottom: 5%;
  }
  div.choosen-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2.5%;
    .extra-name {
      p {
        font-size: 18px;
        font-weight: 100;
        color: #979797;
        span {
          font-weight: bold;
        }
      }
    }
    .remove-extra {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-width: 25%;
      justify-content: flex-end;
      div.remove {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid #eeeeee;
        text-align: center;
        font-size: 12px;
        line-height: 2;
        color: #bebebe;
        margin: 0 2.5%;
        &:hover {
          cursor: pointer;
        }
      }
      p {
        font-size: 20px;
        font-weight: 100;
        color: #bebebe;
      }
    }
  }
  .search-wrapper {
    margin-bottom: 2.5%;
    justify-content: space-between;
    .searchOptions {
      margin: 0;
    }
    .phone-img {
      margin: 0;
      width: 75%;
      .searchResults {
        display: block;
        p {
          display: block;
        }
        .results-blocks {
          display: none;
        }
        .control-btns {
          button {
            margin: auto 0 auto 5%;
            width: 47.5%;
          }
        }
      }
    }
  }
  div.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    select {
      height: 50px;
      border: solid 1px #eeeeee;
      background-color: #FFFFFF;
      outline: none;
      width: 60%;
      color: #bebebe;
    }
    button.btn {
      border: solid 1px #eeeeee;
      background-color: #FFFFFF;
      font-size: 18px;
      color: #d8d8d8;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 35%;
      height: 50px;
      font-weight: 100;
      outline: none;
    }
  }
}
.go-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5%;
  a {
    font-size: 18px;
    width: 47.5%;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 0;
    line-height: 2;
    font-weight: 100;
    color: #d8d8d8;
    &.go-back {
      background-color: #58b9de;
      border: 1px solid #58b9de;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    &:hover {
      color: #d8d8d8;
    }
  }
}